@import url("https://use.typekit.net/buy8flg.css");
@import "./partials/variables";
@import "./partials/typography";
@import "./partials/nav";

//BASE
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-type-text;
  scroll-behavior: smooth;
}
button {
  padding: 1em 2em;
  font-size: 14px;
  border: none;
  width: 150px;
}
.btn-primary {
  border: 1px solid white;
  background: white;
  color: black;
}
.btn-secondary {
  border: 1px solid white;
  background: transparent;
  color: white;
}
h1,
h2,
h3,
h4 {
  font-family: $font-type-heading;
}
.main {
  margin-top: 4em;
 
}

a {
  text-decoration: none;
  color: inherit;
}
ul,
li {
  text-decoration-style: none;
  list-style: none;
  text-decoration-line: none;
}
ul {
  padding: 0;
  margin: 0;
}
footer {
  position: relative;
  bottom: 0;
}
//FOOTER
footer {
  // margin-top: 1em;
  padding-top: 2em;
  padding-bottom: 0.5em;
  :first-child {
    text-align: center;
  }
  background-color: black;
  color: white;
  .btn {
    padding: 1em 2em;
    border: 1px solid white;
    color: white;
    background-color: transparent;
  }
 .row {
   padding-bottom:1em;
   ul {
     display: flex;
     justify-content: center;
     
     li {
       padding: .5em;
     }
   }
 }
}

.company-info, .upcoming-launch, .latest-launch  .content {
  padding-left: 1em;
  padding-right: 1em;
}
form {
  padding-left: 1em;
  padding-right: 1em;
}
//CAROUSEL
.carousel{
  // max-width: 680px;
}
.container.history {
  .control-arrow {
    margin-top: 0.5em !important;
  }
}
.carousel .control-next.control-arrow::before {
  color: black !important;
  border-left: 8px solid orange !important;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}
.carousel-root {
  .control-arrow {
    position: absolute;
    width: 27px;
    height: 44px;
    bottom: 28px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    margin-right: 1em;
    margin-top: 1em !important;
  }
  .control-arrow.control-prev {
    left: auto !important;
    right: 40px !important;
  }
  .control-arrow.control-next {
    color: black !important;
  }
  .control-arrow.control-prev::before {
    color: black !important;
    border-right: 8px solid orange !important;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
  }
}
.gallery {
  position: relative;
  top: auto;
  right: auto;
  left: auto;
  bottom: auto;
  display: block;
  width: 100%;
}
.gallery .carousel-root img {
  height: 50vh;
}
.inner-content {
  height: 600px;
  background-color: black;
  color: white;
}

//TABLES
table {
  width: 100%;
}
tbody {
  text-align: left;
}
td:first-child {
  text-align: left;
}
td {
  text-align: right;
  border-bottom: 1px solid rgba(226, 226, 226, 0.377);
  padding: 20px 0;
}
.inner-content {
  padding: 1em 2em;
  width: 100%;
}


//HOMEPAGE
.container__hero.home {
  height: 100vh;
  .hero__content {
    height: 100%;
     .hero__text{
       
       position: absolute;
       top: 15em;
       padding: 1em;
   .text-background {
 
    background-color: rgba(0, 0, 0, 0.2);
   }
       .container__btn {
         display: flex;
         padding-top: 1em;
         .btn-primary {
           margin-right: 1em;
         }
       }
     }
   
     .header_video {
       position: absolute;
       top: 0;
       left: 0;
       right: 0;
       width: 100%;
       height: 100%;
       video {
         width: 100% !important;
         height: auto !important;
         position: absolute;
         bottom: 0;
         // top: 1%;
       }
     }
     h1,h2 {
       color: white;
     }
   }
}

.company-info, .upcoming-launch, .latest-launch {
 
 
  h3 {
    font-size: 1rem;
  }
}
.company-info {
  .section-bottom-img {
    padding-top: 1em;
  }
  .row.summary, .row.socials{
    padding-top: 1em;
    max-width: 650px;
  }
  

 .row.socials{
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;
   align-items: flex-start;
 }
  .social-icons .svg-inline--fa {
    padding-right: .5em;
  }
  .social-icons a {
    
  }
  
}
.upcoming-launch {
  background-color: black;
  color: white;
 .content {
  padding-top: 4em;
  padding-bottom: 4em;
 }
  .card__content {
    // max-width: 650px;
    min-height: 200px;
  }
}
.latest-launch {
  .content {
    padding-top: 4em;
    padding-bottom: 4em;
  }
  .card__content {
    // max-width: 650px;
    min-height: 350px;
  }
}

//ROCKETS
.feature {
  margin-top: 2em;

  .background.falcon9 {
    background-image: url(../images/falcon9launch.jpg);
    background-position: center;
    background-position-y: -1800px ;
    height: 95vh;
 
  }

  .falcon9 {
    .feature__heading {
      padding: 1em 2em;
       position: absolute;
       top: 50%;
     }
  }
  .background.falconHeavy {
    background-image: url(../images/falconHeavybackground.jpg);
    background-position: center;
    // background-position-y: -1800px ;
    height: 95vh;
  
  }
  .falconHeavy {
    .feature__heading {
      padding: 1em 2em;
       position: absolute;
       top: 50%;
     }
  }
  .background.starship {
    background-image: url(../images/starshipBackground.jpg);
    background-position: center;
    height: 95vh;
  
  }
  .starship {
    .feature__heading {
      padding: 1em 2em;
       position: absolute;
       top: 50%;
     }
  }
}
.container__stats {
  padding: 1em 2em;
  :first-child {
    margin-top: 2em;
  }
  :nth-child(1), :nth-child(2) {
    font-size: 18px;
  }
  .row.description {
    margin-top: 2em;
    margin-bottom: 2em;
    span {
      font-size: 16px !important;
    }
  }
}
.overview {
  .inner-content {
    h2,h3 {
      text-align: left !important;
    }
  }
}
//history
.container__hero.history {
  .hero__content {
  .hero__text {
    color: white;
    padding: 1em 2em;
    position: absolute;
    top: 15%;
  }
  }
}
.container.history {
  .carousel {
    background-color: black;
   min-height: 400px;
  }
.card__content {
  color: white;
  padding: 1em 2em;
  text-align: left;
  h3 {
    font-size: 1.1em;
    
  }
}
 
}
.background.history {
  background-image: url(../images/pexels-spacex-23769-min.jpg);
  background-position: center;
  height: 30vh;
}
.background.contact {
  background-image: url(../images/pexels-spacex-23779-min.jpg);
  background-position: center;
  height: 50vh;
}

.contact {
  .invalid-feedback {
    color: red;
  }
  .btn-container-form {
    margin-top: 1em;
   display: flex;
   justify-content: center;
  }
  form {
    max-width: 800px;
    margin-top: 2em;
    margin-bottom: 2em;
    .form-row {
      display: flex;
      flex-flow: column;
      input {
        padding: 1em 1em;
        margin-bottom: 1em;
      }
    }

   textarea {
    padding: 1em 1em;
     resize: none;
     height: 150px;
   }
  }
}



@media only screen and (min-width: 810px) {

  .container__hero.home .hero__content .hero__text {
    top: 25em;
    h1 {
      font-size: 3.2rem;
    }
    h2 {
      font-size: 1.9rem;
    }
    .container__btn {
      margin-top: 2em;
    }
  }


 
.upcoming-launch .content {
  display: flex;
  flex-flow: row wrap;

  .section__title {
    display: flex;
    
    margin-bottom: 5em;
  }
  .section__title-container {
    display: flex;
    flex: 100%;
  }
.row {
 display: flex;
 flex: 50%;
}
.card__content .text {
  max-width: 350px;
}
}
 
}

@media only screen and (min-width: 1100px) {
  a,button {
    cursor: pointer;
  }
 
  .container__logo-mobile {
    display: none;
  }
  .hero__text {
 display: flex;
 justify-content: center;
    .text-background {
      width: 82%;
      background-color: rgba(0, 0, 0, 0) !important;
      h2 {
        max-width: 80%;
      }
    }
  }
.row.socials {
max-width: 100vw !important;
}
.upcoming-launch, .latest-launch, .company-info {
  padding-top: 5em;
  padding-bottom: 5em;
}
  .company-info, .upcoming-launch, .latest-launch {
    .content {
      width: 80%;
      margin: 0 auto;
      padding: 0;
    }
  }
.latest_launch {
  height: 80vh !important;
}

.feature__heading {
  max-width: 700px;
}
.row.description {
  max-width: 700px;
}
.gallery {
  // margin-bottom: 5em;
  .carousel-root {
    width: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
    // margin-bottom: 5em;
  }
}

.overview {
  // margin-bottom: 5em;
  .carousel-root {
    width: 50%;
  }
}
.background.falconHeavy {
  background-image: url(/_next/static/media/falconHeavybackground.fa907379.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}
.background.history {
 
  height: 40vh;
}
.container.history {
  .card__content {
    max-width: 700px;
    height: 50vh;
  }
}
.contact {
  //   display: flex;

     form {
      
        margin: 0 auto;
        margin-top: 5em;
        margin-bottom: 5em;
     }
  }

}