@import url("https://use.typekit.net/buy8flg.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
body {
    @apply font-text;
   font-size: 1rem;
   background: black;
   color: white;
}
h1,h2,h3,h4 {
    @apply font-heading;
    font-weight: 400;
}
h1 {
    @apply xs:text-3xl md:text-4xl xl:text-5xl font-bold;
}
h2 {
    @apply xs:text-xl md:text-3xl xl:text-3xl font-light;
}
h3 {
    @apply xs:text-sm md:text-xl xl:text-xl font-light;
    font-weight:  100;
}
p {
    @apply md:text-xl font-thin;
}
nav li {
    @apply xs:flex content-center justify-center pb-2 md:pt-3 pl-4;
}
}

@layer components {
    .logo {
        @apply  text-white font-bold xs:text-3xl md:text-4xl;
    }
.btn-primary {
    @apply border-2 py-3 px-10
}
.btn-secondary {
    @apply border-2 py-3 px-10
}
section {
   
}
.social-icons {
    @apply pb-1
}
.social-icons svg {
    @apply mr-2
}
.hero {
 background-image: url(../images/pexels-spacex-23769-min.jpg)
}
.feature {
    height:100vh;
}
.background.falcon9 {
    background-image: url(../images/falcon9launch-min_ccexpress-min.jpeg);
    background-position:center;
    background-size:cover;
    height:100vh;
}

.background.falconHeavy {
    background-image: url(../images/falconHeavybackground.jpg);
    background-position: center;
    background-size:cover;
    height:100vh;
}
.background.starship {
    background-image: url(../images/starshipBackground.jpg);
    background-position: center;
    background-size:cover;
    height:100vh;
}

.feature__heading {
@apply absolute top-40 xs:p-5 text-center xs:w-full md:text-left xl:w-1/2 xl:pl-60 xl:pt-60;
}
}
.container__stats {
    @apply xs:p-5 xs:pt-32 text-center
}
.overview {
    @apply xs:h-fit pb-5
}
table {
    @apply w-full
}
tbody {
    @apply text-left
}
td {
    @apply text-right border-b-2 border-border py-5
}
td:first-child {
    @apply text-left
}
.inner-content {
    @apply h-8xl grid content-center
}
.content {
    
}
.stats .container__stats {
    @apply lg:w-8xl text-left mx-auto my-0
}
.stats .container__stats .row.description {
    
}
.overview .carousel-root {
    @apply lg:w-8xl mx-auto my-0
}
.section-inner {
@apply px-5
}
.control-arrow {
    @apply h-1/3
}